@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sporting Grotesque", Poppins;
  scroll-behavior: smooth;
}

.gradient-01 {
  position: absolute;
  width: 884px;
  height: 884px;
  left: 835px;
  top: 3133px;

  background: #d388ff;
  opacity: 0.3;
  filter: blur(282px);
}
.gradient-02 {
  position: absolute;
  width: 884px;
  height: 884px;
  left: 290px;
  top: -340px;

  background: #d388ff;
  opacity: 0.6;
  filter: blur(282px);
}
.gradient-03 {
  position: absolute;
  width: 884px;
  height: 884px;
  left: -327px;
  top: 3183px;

  background: #f3b411;
  opacity: 0.3;
  filter: blur(282px);
}
.gradient-04 {
  position: absolute;
  width: 884px;
  height: 884px;
  left: -156px;
  top: 1867px;

  background: #f3b411;
  opacity: 0.3;
  filter: blur(282px);
}
.gradient-05 {
  position: absolute;
  width: 884px;
  height: 884px;
  left: -345px;
  top: 81px;

  background: #f3b411;
  opacity: 0.3;
  filter: blur(282px);
}
.gradient-05 {
  position: absolute;
  width: 884px;
  height: 884px;
  left: -93px;
  top: -410px;

  background: #f4cdd6;
  filter: blur(282px);
}
.gradient-05 {
  position: absolute;
  width: 1031px;
  height: 884px;
  left: 663px;
  top: 1115px;

  background: #d388ff;
  opacity: 0.2;
  filter: blur(282px);
}
